:root{--default-text-color:#282828}:root[data-theme=dark]{--default-text-color:#fff;--background:#060708;color-scheme:dark}body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:SF Pro Text,SF Pro Icons,system,-apple-system,system-ui,"system-ui",Helvetica Neue,Helvetica,Arial,Lucida Grande,Kohinoor Devanagari,sans-serif;margin:0}
/*# sourceMappingURL=main.02d06c63.css.map*/